 /*{
    outline: 1px solid red !important;
 } */


body {
    background-color: rgb(196, 238, 200);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

section {
    margin: 100px 500px;
    height: 350px;
    width: 200px;
    background-color: rgb(111, 226, 235);
    border-radius: 10px;
}

.title {
    font-size: 28px;
    padding: 10px;
}

#display {
    width: 180px;
    height: 40px;

}

button {
    height: 45px;
    width: 40px;
    border-radius: 10px;
    margin: 0px;
}

.row {
    height: 50px;
    width: 200px;
    
}

#equals {
    width: 85px;
}
